<h1>Post Form</h1>

<%= form_tag posts_path do %>
  <label>Title: </label>
  <%= text_field_tag :'post[title]' %>

  <label>Description: </label>
  <%= text_area_tag :'post[description]' %>

  <%= submit_tag "Submit Post" %>

<br>


<% end %>


<form action="<%= posts_path %>" method="POST">

  <input type="text" id="post_title" name="post[title]">
  <br>

  <input type="text" id="post_description" name="post[description]">
  <br>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" name="" value="Submit Post">
</form>

<%= params.inspect %>
